<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible"
    content="IE=edge" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <title>{{query}} - Goodgle</title>
  <meta name="Description"
    content="Goodgle search page." />
  <link rel="preconnect"
    href="https://fonts.gstatic.com" />
  {{!-- TODO: mobile support --}}
  <style type="text/css">
    * {
      outline: 0;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
      --white: #f5f5f5fa;
      --gray: #f5f5f5;
      --dark: #50505099;
      --darker: #505050;
      --border: #999999;
    }

    body {
      margin: 0;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    header {
      top: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
      position: fixed;
      display: flex;
      width: 40vw;
      text-align: center;
      border-radius: 100vw;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.14), 0px 2px 12px rgba(0, 0, 0, 0.06);
      height: 3rem;
      background: var(--white);
    }

    #home {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100vw;
      border: 0.2rem solid var(--darker);
      align-self: center;
      margin-left: 2%;
      cursor: pointer;
      background: none;
    }

    #search-bar {
      border-radius: 100vw;
      border: 0;
      width: 86%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 1.15rem;
      color: var(--darker);
      font-weight: bold;
      caret-color: var(--darker);
      background: none;
    }

    #search {
      background: url('/search-icon.svg');
      height: 2rem;
      width: 2rem;
      border: 0;
      align-self: center;
      margin-right: 2%;
      cursor: pointer;
    }

    nav {
      bottom: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
      position: fixed;
      display: flex;
      text-align: center;
      border-radius: 100vw;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.14), 0px 2px 12px rgba(0, 0, 0, 0.06);
      height: 3rem;
      background: var(--white);
      padding: 0.5rem;
    }

    .menu {
      color: var(--darker);
      align-self: center;
      padding: 0.5rem 1.5rem;
      border-radius: 100vw;
      font-weight: bold;
    }

    .menu:hover {
      text-decoration: none;
      background: var(--darker);
      color: var(--white);
      transition: color 200ms ease-in-out;
      font-weight: normal;
    }

    main {
      margin: 6.5rem 0 2rem;
    }

    article {
      background: var(--gray);
      width: 50%;
      border-radius: 25px;
      padding: 1rem;
      margin: 1.5rem auto;
      border: 0.5px solid var(--border);
    }

    .link-title {
      color: var(--darker);
      font-weight: 600;
    }

    .link {
      color: var(--dark);
      font-weight: 600;
    }

    .link-text {
      color: var(--dark);
    }

    .sub-results {
      display: flex;
    }

    .sub-results>article {
      margin: 1rem;
    }

    footer {
      width: 50%;
      margin: 0 auto;
    }

    footer>button {
      height: 2rem;
      width: 2rem;
      border: none;
      background: none;
      padding: .5rem;
      cursor: pointer;
      margin: 0 .5rem 2rem;
    }

    #next {
      position: absolute;
      right: 25%;
    }

    footer>button>div {
      height: .8rem;
      width: .8rem;
      border: 0 solid var(--darker);
      border-width: 0 0 .2rem .2rem;
    }

    #prev>div {
      transform: rotate(45deg);
    }

    #next>div {
      transform: rotate(-135deg);
    }

    aside {
      background: var(--gray);
      border: 0.5px solid var(--border);
      width: 20%;
      position: absolute;
      right: 2vw;
      top: 6.5rem;
      border-radius: 25px;
    }

    .aside-content {
      padding: 0.5rem 1rem;
    }

    aside>img {
      width: 100%;
      height: 100;
      border-radius: 25px 25px 0 0;
    }

    h2 {
      margin: 0;
      color: var(--darker);
    }

    .subtitle {
      margin: 0;
      font-weight: normal;
      color: var(--dark);
    }

    .aside-content>p>b {
      color: var(--darker);
      font-weight: 600;
    }

    .aside-content>p {
      color: var(--dark);
    }

    h3 {
      color: var(--darker);
    }

    .aside-content>div {
      display: flex;
    }

    figure {
      margin: 0;
      width: 30%;
      text-align: center;
    }

    figure>img {
      border-radius: 10px;
      height: 100;
      width: 100;
    }

    figcaption>a {
      font-size: small;
    }

    h4 {
      margin: 0;
      color: var(--darker);
      font-weight: normal;
    }

    figcaption>a>p {
      margin: 0;
      color: var(--dark);
    }
  </style>
  <link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'" />
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" />
  </noscript>
</head>

<body>
  <header>
    <button id="home" aria-label="Home">
      <div></div>
    </button>
    <input type="text" id="search-bar"
      value={{query}} />
    <button id="search" aria-label="Search"
      onclick="search()">
      <div></div>
    </button>
  </header>
  <main>
    <article>
      <a class="link-title"
        href={{firstResult.link}}>{{firstResult.title}}</a>
      <br />
      <a class="link"
        href={{firstResult.link}}>{{firstResult.shownLink}}</a>
      <p class="link-text">{{firstResult.desc}}
      </p>
      <div class="sub-results">
        {{#firstResults}}
          <article>
            <a class="link-title"
              href={{link}}>{{title}}</a>
            <p class="link-text">{{desc}}</p>
          </article>
        {{/firstResults}}
      </div>
    </article>

    {{#results}}
      <article>
        <a class="link-title"
          href={{link}}>{{title}}</a>
        <br />
        <a class="link"
          href={{link}}>{{shownLink}}</a>
        <p class="link-text">{{desc}}</p>
      </article>
    {{/results}}
  </main>
  <footer>
    <button id="prev" aria-label="previous"
      onclick="prev()">
      <div></div>
    </button>
    <button id="next" aria-label="next"
      onclick="next()">
      <div></div>
    </button>
  </footer>
  {{#hasKnwlPanel}}
    <aside>
      {{!-- <img
      src="https://pbs.twimg.com/media/EyTJY06W8AAZKgg.jpg"
      alt="Minecraft" /> --}}
      <div class="aside-content">
        <h2>{{knwlPanel.title}}</h2>
        <p class="subtitle">
          {{knwlPanel.subtitle}}
        </p>
        <p>{{knwlPanel.desc}}</p>
        {{#knwlPanel.infos}}
          <p><b>{{title}}</b>{{content}}</p>
        {{/knwlPanel.infos}}
        {{!--
      TODO: find a way to get those images
      <h3>Games</h3>
      <div>
        <figure>
          <img
            src="https://i.imgur.com/Lmu7Wd3.jpeg"
            alt="Minecraft Dungeons" />
          <figcaption>
            <a href="#">
              <h4>Minecraft Dungeons</h4>
              <p>2020</p>
            </a>
          </figcaption>
        </figure>
        <figure>
          <img
            src="https://i.imgur.com/uYganI9.jpg"
            alt="Minecraft Dungeons" />
          <figcaption>
            <a href="#">
              <h4>Minecraft Earth</h4>
              <p>2019</p>
            </a>
          </figcaption>
        </figure>
        <figure>
          <img
            src="https://i.imgur.com/pwNWdO1.jpeg"
            alt="Minecraft Dungeons" />
          <figcaption>
            <a href="#">
              <h4>Minecraft: Story Mode</h4>
              <p>2015</p>
            </a>
          </figcaption>
        </figure>
        <figure>
          <img
            src="https://i.imgur.com/puscaYW.jpg"
            alt="Minecraft Dungeons" />
          <figcaption>
            <a href="#">
              <h4>Minecraft</h4>
              <p>2011</p>
            </a>
          </figcaption>
        </figure>
      </div>
    </div> --}}
    </aside>
  {{/hasKnwlPanel}}
  <nav>
    <a class="menu" href="#">All</a>
    <a class="menu" href="#">Images</a>
    <a class="menu" href="#">Videos</a>
    <a class="menu" href="#">News</a>
    <a class="menu" href="#">Maps</a>
  </nav>
  <script>
    //Search functionality
    function search() {
      location.search = 'q=' + document.querySelector('#search-bar').value.replace(' ', '+')
    }
    document.querySelector('#search-bar').addEventListener('keyup', (e) => event.keyCode === 13 ? document.querySelector('#search').click() : null)

    //Previous & next buttons
    function prev() {
      location.search = 'q=' + (new URLSearchParams(location.search).get('q')) + '&page=' + (parseInt((new URLSearchParams(location.search).get('page'))) - 1)
    }
    function next() {
      location.search = 'q=' + (new URLSearchParams(location.search).get('q')) + '&page=' + ((new URLSearchParams(location.search).has('page')) ? parseInt((new URLSearchParams(location.search).get('page'))) + 1 : 2)
    }

    //mustache_ts no #if support workaround
    if (new URLSearchParams(location.search).has('page') && (new URLSearchParams(location.search).get('page')) === '1' || !new URLSearchParams(location.search).has('page')) document.querySelector('#prev').style.visibility = 'hidden'
  </script>
</body>

</html>