<p>{{{proposition}}}</p>
{{{search}}}
<main>
  {{#IMGs}}
  <img height="{{height}}" width="{{width}}" style="background: {{color}}" loading="lazy" decoding="async" src="data:;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw" alt="{{desc}}" data-original="{{original}}" data-desc="{{desc}}" data-URL="{{URL}}" data-title="{{title}}"></img>
  {{/IMGs}}
</main>
<aside></aside>
{{{menu}}}

<script>
  //Get images
  const stringedIMGs = {{{ stringedIMGs }}}
  document.querySelectorAll('img').forEach((el, i) => {
    el.setAttribute('src', stringedIMGs[i])
    el.style.background = 'none'
  })

  //View full image
  document.querySelectorAll('img').forEach(el => el.addEventListener('mouseup', () => {
    document.querySelector('aside').innerHTML =
      `
        <div></div>
        <figure>
          <a href="${el.getAttribute('data-URL')}">
            <img src="${location.origin + '/cors?url=' + el.getAttribute('data-original')}" alt="${el.getAttribute('data-desc')}">
            <p>${el.getAttribute('data-title')}</p>
          </a>
        </figure>
        <p>${el.getAttribute('data-desc')}</p>
      `
    document.querySelector('aside').style.display = 'unset'
    if (window.innerWidth >= 1024) document.querySelector('main').style.width = '65%'
    document.querySelector('aside>div').addEventListener('mouseup', () => {
      document.querySelector('aside').style.removeProperty('display')
      document.querySelector('main').style.width = 'unset'
    })
  }))
</script>