<p>{{{proposition}}}</p>
{{{search}}}
<main>
  {{#results}}
    <article>
      <a class="title" href="{{link}}">{{title}}</a>
      <div>
        <a href="{{link}}">
          <img id="{{id}}" src="/no_image.svg" alt="{{title}}" loading="lazy" decoding="async">
        </a>
        <p class="infos">{{infos}}</p>
        <p class="desc">{{desc}}</p>
      </div>
    </article>
  {{/results}}
</main>
{{{menu}}}
<footer>
  <button id="prev" aria-label="previous" onclick="prev()">
    <div></div>
  </button>
  <button id="next" aria-label="next" onclick="next()">
    <div></div>
  </button>
</footer>

<script>
  //Get images
  const IMGs = {{{ stringedIMGs }}}
  IMGs.forEach(el => document.querySelector('#' + el[1]) != null ? document.querySelector('#' + el[1]).setAttribute('src', el[0]) : null)
</script>