<p>{{{proposition}}}</p>
{{{search}}}
<main>
  {{#results}}
    <article>
      <a class="title" href="{{link}}">{{title}}</a>
      <div>
        <a href="{{link}}">
          <img id="{{id}}" src="/no_image.svg" alt="{{title}}" loading="lazy" decoding="async">
        </a>
        <p class="infos">{{infos}}</p>
        <p class="desc">{{desc}}</p>
      </div>
    </article>
  {{/results}}
</main>
{{{menu}}}
<footer>
  <button id="prev" aria-label="previous" onclick="prev()">
    <div></div>
  </button>
  <button id="next" aria-label="next" onclick="next()">
    <div></div>
  </button>
</footer>

<script>
  //Get images
  const IMGs = {{{ stringedIMGs }}}
  IMGs.forEach(el => document.querySelector('#' + el[1]) != null ? document.querySelector('#' + el[1]).setAttribute('src', el[0]) : null)
</script>

<style>
  body {
    margin: 6.5rem 0 0
  }

  body>p {
    width: 90%;
    margin: 0 auto 1.5rem auto;
    color: var(--dark);
    font-weight: 600
  }

  body>p>a {
    color: var(--darker)
  }

  a {
    text-decoration: none
  }

  a:hover {
    text-decoration: underline var(--darker)
  }

  main {
    margin: 0 0 -1rem
  }

  article {
    background: var(--gray);
    width: 90%;
    border-radius: 25px;
    padding: 1rem;
    margin: 1.5rem auto;
    border: .5px solid var(--border)
  }

  article>div {
    margin-top: .75rem;
    display: grid;
    grid-template-columns: 1fr auto
  }

  .title {
    color: var(--darker);
    font-weight: 600
  }

  article>div>a {
    display: flex;
    align-items: center;
  }

  div>a>img {
    width: calc(116*0.075rem);
    height: calc(65*0.075rem);
    border-radius: .5rem
  }

  .infos,
  .desc {
    color: var(--dark)
  }

  .infos {
    margin-left: .5rem;
    font-size: .85rem
  }

  .desc {
    font-size: .95rem;
    grid-column: 1/3;
    margin: .5rem 0
  }

  footer {
    width: 95%;
    margin: 0 auto 3rem
  }

  footer>button {
    height: 2rem;
    width: 2rem;
    border: none;
    background: none;
    padding: .5rem;
    cursor: pointer;
    margin: 0 .5rem 2rem
  }

  #next {
    position: absolute;
    right: 2.5%
  }

  footer>button>div {
    height: .8rem;
    width: .8rem;
    border: 0 solid var(--darker);
    border-width: 0 0 .2rem .2rem
  }

  #prev>div {
    transform: rotate(45deg)
  }

  #next>div {
    transform: rotate(-135deg)
  }

  @media (min-width: 1024px) {

    main {
      margin: 0 0 2rem
    }

    body>p,
    article {
      width: 50%
    }

    article>div {
      grid-template-columns: auto 1fr
    }

    article>div>a {
      margin-right: 1rem;
      grid-row: 1/3
    }

    .infos {
      margin: 0
    }

    .desc {
      grid-column: unset
    }

    footer {
      width: 50%;
      margin: 0 auto
    }

    #next {
      right: 25%
    }
  }
</style>